* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#loading {
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 80%;
  margin: 0 auto;
  scroll-behavior: smooth;
  transition: 0.3s;
}
.fa-shopping-cart {
  font-size: 30px;
}
/* Mobile Only */
body {
  background-image: linear-gradient(to left, #8942a8, #4f5574);
  background-attachment: fixed;
}
body .product-list {
  /* position: relative; */
  align-self: center;
  align-items: center;
  flex-wrap: wrap;
}
body .card {
  /* position: relative; */
  padding-top: 25px;
  display: flex;
  height: 250px;
  width: 150px;
  overflow: hidden;
  margin-left: 10px;
  margin-top: 5%;
  transition: 0.5s !important;
  border-radius: 30px;
}
body .card:hover {
  overflow: visible;
  height: 390px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  transition: 0.5s !important;
}
body .card .top-card {
  margin-top: 5px;
  margin-left: 10px;
  font-size: 20px;
  z-index: 1;
}
body .card img {
  width: 80%;
  height: 100px;
  align-self: center;
  object-fit: contain;
}
body .card img:hover {
  animation-name: bounce;
  animation-duration: 0.7s;
}
body .card .product-content {
  width: 100%;
  border-radius: 20px;
  text-align: center;
  padding-top: 10px;
  line-height: 0.9;
}
body .card .product-name {
  font-size: 14px;
  margin: 0;
  padding: 10px 10px 5px 10px;
}
body .card .product-name:hover {
  color: #0040ff;
}
body .card .product-price {
  color: #d0021c;
  font-size: 16px;
}
body .card .product-description,
body .card .back-camera,
body .card .front-camera,
body .card .product-screen {
  color: rgb(156, 163, 175, 1.2);
  font-size: 15px;
}
body .card .product-type {
  color: plum;
  font-style: italic;
}

.cart-item {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid whitesmoke;
}
.cart-item .cart-img {
  display: flex;
  width: 10%;
}
.cart-item .cart-img img {
  width: 100px;
  height: 80px;
  object-position: center;
  object-fit: cover;
  align-self: center;
}
.cart-item p {
  padding: 0;
  margin: 0;
}

.cart-item {
  color: #fff;
}

.btn-light {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 50%;
}
.btn-light i {
  color: #fff;
}

.btn-add {
  border: none;
  border-radius: 5px;
  background-color: #12879c;
  padding: 10px;
  color: #fff;
}
.cartList {
  height: 100vh;
}
.btn-trash i {
  font-size: 24px;
  background-color: #212529;
  color: #fff;
}

#cartTotal {
  padding: 0 20px;
  font-weight: bold;
  font-size: 30px;
}

.shopping-cart {
  position: relative;
}
.shopping-cart #cart-item-number {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  top: -10px;
  left: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Responsive */
/* Responsive for card */
@media screen and (min-width: 768px) {
  body .card {
    display: flex;
    height: 206px;
    overflow: hidden;
    margin-left: 10px;
    margin-top: 5%;
    border-radius: 30px;
  }
  body .card:hover {
    overflow: visible;
    height: 444px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
  }
  body .card .top-card {
    margin-top: 5px;
    margin-left: 10px;
    font-size: 20px;
    z-index: 1;
  }
  body .card img {
    width: 80%;
    height: 100px;
    align-self: center;
    object-fit: contain;
  }
  body .card img:hover {
    animation-name: bounce;
    animation-duration: 0.7s;
  }
  body .card .product-content {
    width: 100%;
    border-radius: 20px;
    text-align: center;
    padding-top: 10px;
    line-height: 1;
  }
  body .card .product-name {
    font-size: 18px;
    padding: 10px;
    line-height: 1.3;
  }
  body .card .product-name:hover {
    color: #0040ff;
  }
  body .card .product-price {
    color: #d0021c;
    font-size: 20px;
  }
  body .card .product-price:hover {
    color: #d0021c;
    font-size: 20px;
  }
  body .card .back-camera,
  body .card .front-camera,
  body .card .product-screen {
    color: rgb(156, 163, 175);
    font-size: 15px;
    margin: 8px;
  }
}
@media screen and (min-width: 992px) {
  body .product-list {
    flex-wrap: inherit;
  }
  body .card {
    display: flex;
    height: 206px;
    width: 300px;
    overflow: hidden;
    margin-left: 10px;
    margin-top: 5%;
    border-radius: 30px;
  }
  body .card:hover {
    overflow: visible;
    height: 390px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
  body .card .top-card {
    margin-top: 0;
    margin-left: 20px;
    font-size: 32px;
  }
  body .card img {
    width: 80%;
    height: 100px;
    align-self: center;
    object-fit: contain;
  }
  body .card img:hover {
    animation-name: bounce;
    animation-duration: 0.7s;
  }
  body .card .product-content {
    width: 100%;
    border-radius: 20px;
    text-align: center;
    padding-top: 10px;
    line-height: 1;
  }

  body .card .product-name {
    font-size: 18px;
    padding: 10px;
    line-height: 1.3;
  }
  body .card .product-name:hover {
    color: #0040ff;
  }
  body .card .product-price {
    color: #d0021c;
    font-size: 20px;
  }
  body .card .product-price:hover {
    color: #d0021c;
    font-size: 20px;
  }
  body .card .back-camera,
  body .card .front-camera,
  body .card .product-screen {
    color: rgb(156, 163, 175);
    font-size: 15px;
    margin: 8px;
  }
}
@media screen and (min-width: 1200px) {
  body .product-list {
    align-self: center;
    align-items: center;
    flex-wrap: wrap;
  }
  body .card {
    display: flex;
    height: 216px;
    width: 300px;
    overflow: hidden;
    margin-left: 10px;
    margin-top: 5%;
    border-radius: 30px;
  }
  body .card:hover {
    overflow: visible;
    height: 390px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
  body .card .top-card {
    margin-top: 0;
    margin-left: 20px;
    font-size: 32px;
  }
  body .card img {
    width: 80%;
    height: 100px;
    align-self: center;
    object-fit: contain;
  }
  body .card img:hover {
    animation-name: bounce;
    animation-duration: 0.7s;
  }
  body .card .product-content {
    width: 100%;
    border-radius: 20px;
    text-align: center;
    padding-top: 10px;
    line-height: 1;
  }

  body .card .product-name {
    font-size: 18px;
    padding: 10px;
    line-height: 1.3;
  }
  body .card .product-name:hover {
    color: #0040ff;
  }
  body .card .product-price {
    color: #d0021c;
    font-size: 20px;
  }
  body .card .product-price:hover {
    color: #d0021c;
    font-size: 20px;
  }
  body .card .back-camera,
  body .card .front-camera,
  body .card .product-screen {
    color: rgb(156, 163, 175);
    font-size: 15px;
    margin: 8px;
  }
  .cartList {
    height: 70vh;
  }
}

/* Side nav */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: #f1f1f1;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 36px;
  margin-left: 50px;
}
#product-list {
  transition: margin-right 0.5s;
}

#btnCheckout {
  padding: 10px;
  color: white;
  background-color: red;
  margin: 20px;
  font-size: 20px;
  border-radius: 5px;
  border: none;
}
