* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

$main-color-1: #2a4759;
$main-color-2: #0a232a;
$main-color-3: #1c3c4d;

header {
  font-size: 22px;
  border-bottom: 1px solid $main-color-3;
  .nav {
    background-color: $main-color-2;
    .nav-link {
      color: white;
    }
  }
}

.info {
  background-color: white;
  font-size: 18px;
  .row {
    margin: 0;
    .left__menu {
      padding-right: 0;
      min-height: 100vh;
      background-color: $main-color-1;
      max-width: 20%;
      .nav-pills .nav-link.active,
      .nav-pills .show > .nav-link {
        background-color: $main-color-2;
      }
      .nav-link {
        color: white;
      }
      div {
        a {
          border-bottom: 1px solid $main-color-3;
          padding: 15px;
          border-radius: 0;
        }
        a:hover {
          color: white;
        }
      }
    }
    .info__list {
      .tab-content {
        .tab-pane {
          .add-search {
            display: flex;
            align-items: center;
            justify-content: center;
            .btn {
              height: 40px;
              width: 40px;
              padding: 10px;
              margin-bottom: 15px;
              background-color: #1c3c4d;
              color: white;
              i {
                font-size: 20px;
              }
            }
            .input-group {
              margin-left: 10px;
              width: 25%;
              input {
                padding: 20px;
              }
            }
          }
          .modal {
            .modal-content {
              border-radius: 0;
              .modal-header {
                background-color: #0a232a;
                border-radius: 0;
                color: white;
              }
              .modal-body {
                .error {
                  color: red;
                }
              }
              .modal-footer {
                border-radius: 0;
                button {
                  color: white;
                  background-color: #0a232a;
                  padding: 10px;
                }
              }
            }
          }
        }
        table {
          min-width: 950px;
          border-collapse: collapse;
          border: 1px solid rgb(149, 149, 149);
          thead {
            tr {
              th {
                border: 1px solid rgb(149, 149, 149);
                background-color: rgb(224, 224, 224);
                text-align: center;
                padding: 15px;
              }
            }
          }
          tbody {
            tr {
              border-top: 2px solid rgb(149, 149, 149);
              td {
                text-align: center;
                img {
                  height: 150px;
                  width: 150px;
                  margin: 10px 0;
                }
                button {
                  background-color: #0a232a;
                  color: white;
                }
              }
            }
            td {
              border: 1px solid rgb(149, 149, 149);
            }
          }
        }
      }
    }
  }
}

:root {
  --main-color: #ecf0f1;
  --point-color: #555;
  --size: 5px;
}

.loader {
  background-color: var(--main-color);
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  z-index: 100000;
  .loader__element {
    border-radius: 100%;
    border: var(--size) solid $main-color-2;
    margin: calc(var(--size) * 2);
  }

  .loader__element:nth-child(1) {
    animation: preloader 0.6s ease-in-out alternate infinite;
  }
  .loader__element:nth-child(2) {
    animation: preloader 0.6s ease-in-out alternate 0.2s infinite;
  }

  .loader__element:nth-child(3) {
    animation: preloader 0.6s ease-in-out alternate 0.4s infinite;
  }

  @keyframes preloader {
    100% {
      transform: scale(2);
    }
  }
}
